<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Prosty kalkulator</h1>
            <p>Witaj na stronie prostego kalkulatora!</p>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <!---  <div class="col-sm-4"></div> -->
            <div class="col-sm-4 offset-md-4">
                <form action="/calc" method="POST">
                    <div class="form-group">
                        <label for="number1">Podaj liczbę 1:</label>
                        <input type="text" name="form[number1]" class="form-control" id="number1">
                    </div>
                    <div class="form-group">
                        <label for="number2">Podaj liczbę 2:</label>
                        <input type="text" name="form[number2]" class="form-control" id="number2">
                    </div>
                    <button type="submit" id="send" name="form[send]" class="btn btn-primary">Oblicz</button>
                </form>
            </div>
        </div>
    </div>

    <!---      {{ form(form) }} -->

</body>

</html>